<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chatbot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1 class="heading-text">Hey, I'm a bot😀</h1>
    <div id="chatbox" class="chat-box">
      <h2>Ask me anything...</h2>
    </div>
  
      <div class="container">
        <input
        type="text"
        name="text"
        class="input"
        id="userInput"
        placeholder="Type anything..."
      />
      </div>

      
    

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
